<br>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Address</th>
      <th>Size</th>
      <th>Sold</th>
      <th>Bedroom</th>
      <th>Bath</th>
      <th>Car</th>
      <th>Image</th>
      <th colspan="1"></th>
      <th>Agents</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.id %></td>
        <td><%= house.address %></td>
        <td><%= house.size %></td>
        <td><%= house.sold %></td>
        <td><%= house.bed %></td>
        <td><%= house.bath %></td>
        <td><%= house.garage %></td>
        <td><%= image_tag(house.image, :size => "100x50") %><br /></td>
        <td><%= link_to 'Request Inspection', new_inspection_path %></td>
        <td> 
            <% house.agents.each do |agent| %>
                <span>
                    <%= agent.name %> 
                    <br>
                </span>
            <% end %>
        </td>
        <td><%= last_updated house %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>