<h3> Schedule a new inspection </h3>

<%= form_tag house_inspections_path do %>
    <label>Your name:</label><br>
    <%= text_field_tag :'inspection[name]' %><br>

    <label>Contact number:</label><br>
    <%= text_field_tag :'inspection[contact]' %><br>

    <label>Which day:</label><br>
    <%= text_field_tag :'inspection[day]' %><br>

    <label>Comment:</label><br>
    <%= text_area_tag :'inspection[comment]' %><br>

    <%= submit_tag "Submit Search" %>
<% end %>
